@import-normalize;
@import "./recipe-list.css";
@import "./buttons.css";
@import "./recipe.css";
@import "./ingredients.css";
@import "../css/recipe-edit.css";

*,
*::after,
*::before {
  font-family: Gotam Rounded, sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 25px;
}

body {
  margin: 0px;
  padding: 0px;
}

.mr-1 {
  margin-right: 5px;
}
